.input{
    border: 1px solid silver;
    margin-bottom: 10px;
    height: 35px;
    width: 250px;
    border-radius: 8px;
}

.formControl.error input,
.formControl.error textarea {
    border: 2px solid red;
}

.formControl.error span{
    color: red;
}

